body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}
header{
    display:inline-flex;
    border:2px solid black ;
    flex-direction:column;
    width:33%;
    margin-right: 20px;
    flex-wrap: wrap;
}
div{
    height: 75px;
    align-content: center;
    padding-top: 22px;
}
.first{
    background-color: aquamarine;
}
.second{
    background-color: green;
}
.third{
    background-color: yellow;
}
.fourth{
    background:red;
}
.fifth{
    background-color: orange;
}
main{
    display:inline-flex;
    flex-direction: row;
    border: 1px solid black;
    width: 100%;
    justify-content: space-evenly;
    background-color: lightgray;
    flex: wrap;
    align-items: center;
}
h1{
    text-align: center;
}
img{
    border: 2px solid black;
    width:278.2px;
    height:186.2px;
}
button{
    display: inline-block;
    margin-left:70px;
    width:140px;
    height:40px;
    border: 2px solid black;
    border-radius: 15%;
    font-size: 1.3em;
    cursor: pointer;
    margin-bottom: 5px;
}
section{
    border: 1px solid black;
    background-color: lightgrey;
    border: 2px solid black;
}
ul{
    list-style: none;
}



